.profile{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    width: calc(75%/4);
    margin: 1% 0;
    padding: 0px 20px;
}
.profile_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.profile h3{
    color: #3D82D0;
    margin: 10px 0px 0px 0px;
}
.profile h3 a{
    text-decoration: none;
}